@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;600&display=swap');

body {
    background-color: #01050c;
}

.scale-text {
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}

.sun {
    width: 26px;
    height: 26px;
    background-image: linear-gradient(to top left, orange, rgb(255, 132, 0));
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow:
        0 0 10px 5px rgb(253, 109, 53, 0.9),
        0 0 4px 2px rgb(223, 153, 24);
    z-index: 9999 /* -1 in rotated system */ ;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) /* rotateX(77deg) */;
    padding: 12px; /* was 50 */
    border-radius: 50%;
    overflow: hidden;
    /* perspective: 100000px; */
}

.orbit {
    position: relative;
    border: 2px dashed white;
    border-radius: 50%;
}

.mercury-orbit {
    width: 60px;
    height: 60px;
}

.venus-orbit {
    width: 100px;
    height: 100px;
}

.earth-orbit {
    width: 140px;
    height: 140px;
}

.mars-orbit {
    width: 200px;
    height: 200px;
}

.jupiter-orbit {
    width: 320px;
    height: 320px;
}

.saturn-orbit {
    width: 440px;
    height: 440px;
}

.uranus-orbit {
    width: 580px;
    height: 580px;
}

.neptune-orbit {
    width: 712px;
    height: 712px;
}

.container .balls {
    /* transform: rotateY(-77deg) rotateZ(30deg) scale(4); */
    z-index: 9999;
}

.mercury {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 5px;
    top: 1.5px;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px gray;
    background-image: linear-gradient(to bottom right, gray, rgb(174, 174, 174));
    animation: planet3DAlignment linear infinite;
    animation-duration: 2s;
}

.venus {
    position: absolute;
    width: 13px;
    height: 13px;
    left: -5px;
    top: 60%;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgb(232, 232, 150);
    background-image: linear-gradient(to top right, white, rgb(232, 232, 150));
}

.earth {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 50%;
    bottom: -7px;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px lightblue;
    background-color: rgb(0, 128, 255);
}

.mars {
    position: absolute;
    width: 11.5px;
    height: 11.5px;
    right: 5px;
    bottom: 46.5px;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px rgb(177, 71, 71);
    background-image: linear-gradient(to top left, rgb(177, 71, 71), rgb(143, 41, 41));
}

.jupiter {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -5px;
    left: 60%;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px rgb(175, 128, 54);
    background-image: linear-gradient(to top left, rgb(168, 111, 111), rgb(185, 139, 139));
}

.saturn {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 40%;
    left: -8px;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px rgb(187, 146, 22);
    background-image: linear-gradient(to bottom, rgb(170, 139, 37), rgb(120, 107, 47));
}

.uranus {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 60%;
    right: -2px;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px lightblue;
    background-image: linear-gradient(to top left, lightblue, rgb(3, 252, 202));
}

.neptune {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 15%;
    bottom: 11.7%;
    border-radius: 50%;
    box-shadow: 0 0 4px 1px rgb(70, 169, 202);
    background-image: linear-gradient(to top left, rgb(29, 43, 200), rgb(22, 112, 208));
}

.animation-container {
    border: none;
}

.mercury-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 10s;
}

.venus-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 25s;
}

.earth-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 40s;
}

.mars-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 75s;
}

.jupiter-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 480s;
}

.saturn-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 1160s;
}

.uranus-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 3360s;
}

.neptune-animation-container {
    animation: orbitAround linear infinite;
    animation-duration: 6600s;
}


@keyframes orbitAround {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.speed-changes {
    position: absolute;
    width: 350px;
    right: 20px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.speed-text {
    color: white;
}

.speed-buttons {
    cursor: pointer;
    padding: 3px 6px;
    z-index: 9999;
}

.speed-buttons:hover {
    opacity: 0.9;
}

.speed-buttons:active {
    opacity: 0.7;
}

.hover-text {
    color: white;
    display: inline-block;
    margin-left: 30px;
}

.left-hand-descriptions {
    position: relative;
    top: -5px;
    left: 10px;
    width: 320px;
    height: 650px;
}

.description {
    margin-bottom: 3px;
    position: relative;
    width: 320px;
    height: 130px;
    border-radius: 3px;
    transition: opacity 1s ease;
    opacity: 1;
    pointer-events: none;
    user-select: none;
}

.sun-description {
    background-image: linear-gradient(to bottom right, orange, rgb(255, 132, 0));
}

.mercury-description {
    background-image: linear-gradient(to bottom right, rgb(174, 174, 174), gray);
}

.venus-description {
    background-image: linear-gradient(to bottom right, white, rgb(232, 232, 150));
}

.earth-description {
    background-image: linear-gradient(to bottom right, rgb(65, 214, 109), rgb(20, 144, 207));
}

.mars-description {
    background-image: linear-gradient(to bottom right, rgb(143, 41, 41), rgb(177, 71, 71));
}

.jupiter-description {
    background-image: linear-gradient(to bottom left, #9b6233, rgb(152, 95, 95));
}

.saturn-description {
    background-image: linear-gradient(to top right, rgb(201, 163, 37), rgb(120, 107, 47));
}

.uranus-description {
    background-image: linear-gradient(to top left, lightblue, rgb(63, 240, 204));
}

.neptune-description {
    background-image: linear-gradient(to bottom right, rgb(35, 50, 215), rgb(23, 96, 174));
}

.headings {
    position: absolute;
    font-size: 17px;
    left: 15px;
    top: -2px;
    font-family: Vollkorn;
    font-weight: bolder;
}

.description-text {
    position: absolute;
    width: 270px;
    font-size: 13px;
    top: 32px;
    left: 15px;
    font-family: Vollkorn;
}

.right-hand-descriptions {
    position: absolute;
    top: 70px;
    right: 15px;
    width: 320px;
    height: 535px;
}